<table class="ui table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |message|}}
            <tr>
                <td>{{message.id}}</td>
                <td>{{message.Subject}}</td>
                <td>{{message.Description}}</td>
                <td>Action</td>
            </tr>
        {{/each}}
    </tbody>
</table>
