<table class="ui table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Greeting</td>
            <td>Sample Subject</td>
            <td>Sample Template</td>
            <td>Action on Message</td>
        </tr>
        <tr>
            <td>Verification</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Passoword Reset</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Badge generation</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
