<form class="ui form {{if isLoading 'loading'}}" {{action 'submit' on='submit'}}>
    <div class="ui secondary header">
      Payments
    </div>
    <div class="ui horizontal divider"></div>
    <div>
      {{ui-checkbox class='toggle' checked=model.paymentInclude onChange=(action (mut model.paymentInclude))}}
    </div>
    <div class="ui horizontal divider"></div>
    <div>
      <button class="ui teal button">Save</button>
    </div>
</form>
