<div class="ui grid user-grid">
    <div class="row">
        <div class="sixteen wide column">
            {{user-table users=users prevPage=(action 'prevPage') nextPage=(action 'nextPage')}}
        </div>
    </div>
</div>