sudo: required
dist: trusty
group: deprecated-2017Q4

matrix:
  include:
  - language: python3

    apt:
      packages:
      - python-dev

    python:
      - 3.5
    cache:
      directories:
        - $HOME/api/.pip-cache/

    before_install:
      - sudo apt-get -qq update
      - sudo apt-get -y install python3-pip
      - sudo apt-get install python-virtualenv

    install:
      - virtualenv  -p python3 ../flask_env
      - source ../flask_env/bin/activate
      - pip3 install flake8

    script:
      - flake8 api/

    after_success:
      - bash <(curl -s https://codecov.io/bash)
      - bash backend/scripts/gh_deploy.sh

  - language: node_js
    node_js:
      - "6"

    addons:
      chrome: stable

    cache:
      directories:
        - $HOME/frontend/.npm

    env:
      global:
      # See https://git.io/vdao3 for details.
      - JOBS=1

    before_install:
      - cd frontend
      - npm install
      - npm install --save ember-colpick
      - npm install -g bower
      - bower install
      - ember g ember-colpick
      - npm config set spin false

    script:
      - npm run lint:js
      - npm test

    after_success:
      - bash ./scripts/gh_deploy.sh
      #- bash ./scripts/pr_deploy.sh
