<div class="ui grid user-grid">
    <div class="row">
        <div class="sixteen wide column">
            {{badge-table badges=badges user=user session=session sendbadgeId=(action 'deleteBadge' badge) prevPage=(action 'prevPage') nextPage=(action 'nextPage') allow_prev=allow_prev allow_next=allow_next}}
        </div>
    </div>
</div>
