<div class="ui grid user-grid">
    <div class="row">
        <div class="sixteen wide column">
            {{badge-table badges=badges prevPage=(action 'prevPage') nextPage=(action 'nextPage')}}
        </div>
    </div>
</div>