<h2 class="ui dividing header">Account</h2>
<form class="ui form" {{action 'updateUserName' on="submit"}}>
    <div class="ui field">
    <label>Username</label>
        <div class="ui fields">
            <div class="ten wide field">
                {{input type="text" id="profileName" name=profileName value=user.username}}
            </div>
        </div>
    </div>
    <div class="ui field">
    <label>Email</label>
        <div class="ui fields">
        <div class="ten wide disabled field">
            {{input type="email" name=email value=user.email}}
        </div>
    </div>
    </div>
    <button type="submit" class="ui basic orange button" tabindex="0" >Save Changes</button>
</form>
