<h2 class="ui header">Password</h2>
<h5 class="ui dividing header">Change your password or recover your current one.</h5>
<form class="ui form">
    <div class="field">
    <label>Current Password</label>
    <div class="fields">
        <div class="ten wide field">
        <input placeholder="Default User Password" type="text">
        </div>
    </div>
    </div>
    <div class="field">
    <label>New Password</label>
    <div class="fields">
        <div class="ten wide field">
        <input placeholder="New Password" type="text">
        </div>
    </div>
    </div>
    <div class="field">
    <label>Verify Password</label>
    <div class="fields">
        <div class="ten wide field">
        <input placeholder="" type="text">
        </div>
    </div>
    </div>
    <div class="ui button" tabindex="0">
    Save Changes
    </div>
</form>
