<h2 class="ui dividing header">Account</h2>
<form class="ui form">
    <div class="field">
    <label>Username</label>
    <div class="fields">
        <div class="ten wide disabled field">
        <input type="text" value={{user.username}}>
        </div>
    </div>
    </div>
    <div class="field">
    <label>Email</label>
    <div class="fields">
        <div class="ten wide disabled field">
        <input type="text" value={{user.email}}>
        </div>
    </div>
    </div>
    <div class="ui button" tabindex="0">
    Save Changes
    </div>
</form>
