<h2 class="ui header">Password</h2>
<h5 class="ui dividing header">Change your password.</h5>
<form class="ui {{if isLoading 'loading'}} form" {{action 'updateUserPassword' on="submit"}}>
    <div class="field">
        <label>New Password</label>
            <div class="fields">
                <div class="ten wide field">
                    {{input type="password" id="newPassword" name=newPassword value=user.password}}
                </div>
            </div>
    </div>
    <div class="field">
    <label>Verify Password</label>
        <div class="fields">
            <div class="ten wide field">
                {{input type="password" id="newPasswordVerify" name=newPasswordVerify placeholder="Re-enter Password"}}
            </div>
        </div>
    </div>
    <button type="submit" class="ui basic orange button" tabindex="0">
        Save Changes
    </button>
</form>
