<div class="ui container">
<div class="ui hidden divider"></div>
<h1>Admin Panel</h1>
<div class="ui left grid">
  <div class="computer only row">
    <div class="column"></div>
  </div>
  <div class="six wide tablet twelve wide computer column"><button class="ui orange button">All Users</button>{{user}}</div>
  <div class="six wide tablet twelve wide computer column"><button class="ui yellow button">All Badges</button></div>
  <div class="six wide tablet twelve wide computer column"><button class="ui olive button">All Files</button></div>
  <div class="six wide tablet twelve wide computer column"><button class="ui teal button">Dated Badges</button></div>
  <div class="six wide tablet twelve wide computer column"><button class="ui blue button">Dated Files</button></div>
</div>
</div>
