<div class="forgot-password">
    {{#if model.valid}} {{password-comp resetPwd=(action 'resetPwd')}} {{else}}
    <div class="ui hidden divider"></div>
    <h2>Token Invalidated</h2>
    {{/if}}
</div>
