<div class="inline fields">
  <div class="grouped fields">
  <div class="field">
    <div class="ui radio checkbox" onclick={{action 'mutateBadgeSize' '4x3'}}>
      <input name="badge" value="4x3" type="radio">
      <label>4"x3"</label>
    </div>
  </div>
  <div class="field">
    <div class="ui radio checkbox" onclick={{action 'mutateBadgeSize' '4.5x4'}}>
      <input name="badge" value="4.5x4" type="radio">
      <label>4.5"x4"</label>
    </div>
  </div>
  </div>
</div>
