<div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox" onclick={{action 'mutateBadgeSize' 'A3' }}>
              <input name="size" value="A3" type="radio">
              <label>A3</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox" onclick={{ action 'mutateBadgeSize' 'A4' }}>
              <input name="size" value="A4" type="radio">
              <label>A4</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox" onclick={{ action 'mutateBadgeSize' 'A5' }}>
              <input name="size" value="A5" type="radio">
              <label>A5</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox" onclick={{action 'mutateBadgeSize' 'A6' }}>
              <input name="size" value="A6" type="radio">
              <label>A6</label>
          </div>
    </div>
</div>
