<div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox" onclick={{ action 'mutatePaperSize' 'A2' }}>
              <input name="size" value="A2" type="radio">
              <label>A2</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox" onclick={{action 'mutatePaperSize' 'A3' }}>
              <input name="size" value="A3" type="radio">
              <label>A3</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox" onclick={{ action 'mutatePaperSize' 'A4' }}>
              <input name="size" value="A4" type="radio">
              <label>A4</label>
            </div>
          </div>
</div>
