<div class="pusher">
    {{nav-bar session=session}}
    {{#if (eq currentRouteName 'index')}}
      {{welcome-header session=session}}
    {{/if}}
    <div class="ui container main-container">
        {{outlet}}
    </div>
    {{footer-main}}
</div>
