<div class="ui stackable grid container" style="background:#f7f7f7">
  <div class="sixteen wide column">
    <div class="ui stackable grid">
      <div class="two column row">
        <div class="column">
          <h1 class="ui huge header">
            Contact
          </h1>
          <h3>
            Get the help and information you need from our community and team through various channels.
          </h3>
        </div>
        <div class="column">
          <img style="float: right" src='https://chat.susi.ai/static/media/support.066cd17a.png'>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui stackable grid container">
  <div class="thirteen wide column">
    <h1 class="ui huge header">
      Ask The Community
    </h1>
    <div class="ui section divider"></div>
    <div class="ui stackable grid">
      <div class="two column row">
        {{#each model as |media|}}
          <a class="item" href=>
            <span class="mobile-hide"></span>
          </a>
          <div class="column">
            <h3>
              <i class="{{media.icon}}"></i>
              <a href="{{media.link}}" target="_blank"> {{ first-cap media.id}}
              </a>
              <p>
                {{media.description}}
              </p>
            </h3>
          </div>
          <div class="ui  section divider"></div>
        {{/each}}
      </div>
    </div>
  </div>
</div>