<div class='ui secondary pointing menu'>
    <a class='item'>
        Sitemap
    </a>
    <a class='active item'>
        FAQ
    </a>
</div>
<div class="ui center aligned segment">
    <h1>How can we
        <strong>help</strong>? <i class="headphones icon"></i></h1>
</div>
<div class="ui grid segment aligned">
    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>What's the cost for badges?</h1>
            <h5>
                The badge creation and downloading is absolutely free.
            </h5>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>How big are your badges?</h1>
            <h5>
                We currently offer two sizes of badges , 4" x 3" and  4.5" x 3"
            </h5>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>What file formats do you support?</h1>
            <h5>
                We accept data in the following formats
                <ul>
                    <li>.csv file</li>
                    <li>Manual data entry</li>
                </ul>
            </h5>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>How to use the badge editor?</h1>
            <h5>
                There are 5 steps of badge creation
                <ul>
                    <li>Name your badges</li>
                    <li>Specify the input sources as either upload CSV or Enter details</li>
                    <li>
                        Select the paper size and the badge sizes
                    </li>
                    <li>Select the background Sources</li>
                    <li>Select the font customizations</li>
                </ul>
            </h5>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>Can I print the badges on my printer?</h1>
            <h5>
                If the printer supports pdf format then you can surely print your badges. 
            </h5>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>Can I add my custom images on the badges?</h1>
            <h5>
                Sure ! You can do so in our badge editor. For info refer to our badge creation guide.
            </h5>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>Can I add QR codes to my badges?</h1>
            <h5>
                We are working on this to make it happen, Thankyou for being patient.
            </h5>
        </div>
    </div>

    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>What if I spot a bug?</h1>
            <h5>
                Please report the spotted bug at our issue tracker on github
            </h5>
        </div>
    </div>
    
    <div class="eight wide column">
        <div class="ui aligned segment">
            <h1>Can I add QR codes to my badges?</h1>
            <h5>
                We are working on this to make it happen, Thankyou for being patient.
            </h5>
        </div>
    </div>
    </div>