<div class="ui stackable grid container">
    <div class="computer only row">
        <div class="thirteen wide column">
            <div class="ui message">
                <h1 class="ui huge header">
                    How can we help you?
                </h1>
            </div>
            <div class="ui hidden section divider"></div>
            <div class="ui stackable grid" id="general">
                <h2>General</h2>
                <div class="three column row">
                    <div class="column">
                        <h3 class="ui header">
                            What is Badgeyay?
                        </h3>
                        <p>
                            We're a web based platform that lets you create badges for events, choose a template for
                            your badges and download according
                            to your choice.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            What's the cost for badges?
                        </h3>
                        <p>
                            The badge creation and downloading is absolutely free.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            Can I get badges through e-mail?
                        </h3>
                        <p>
                            Yes, once your badge is successfully generated it will be automatically emailed to you.
                        </p>
                    </div>

                </div>
                <div class="three column row">
                    <div class="column">
                        <h3 class="ui header">
                            How big are your badges?
                        </h3>
                        <p>
                            We currently offer two sizes of badges , 4" x 3" and 4.5" x 3" .
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            Can I use language other than english on badges ?
                        </h3>
                        <p>
                            Yes, you can use any language for data entry on your badges.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            How to fix a typo?
                        </h3>
                        <p>
                            You can go to my badges and then click on edit badges to edit that specific badge.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui divider"></div>
            <br>
            <div class="ui stackable grid" id="account">
                <h2>Account</h2>
                <div class="three column row">
                    <div class="column">
                        <h3 class="ui header">
                            I can't login to my account?
                        </h3>
                        <p>
                            Please make sure that you have entered your correct emailID and password, the login should
                            work perfectly.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            I forgot my password, What now?
                        </h3>
                        <p>
                            You can reset your password by going to the password reset link in the login section.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            I want to change my password?
                        </h3>
                        <p>
                            Go to the passwords tab in the settings, there you can easily change your password.
                        </p>
                    </div>

                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui divider"></div>
            <br>
            <div class="ui stackable grid" id="badges">
                <h2>Badges</h2>
                <div class="three column row">
                    <div class="column">
                        <h3 class="ui header">
                            How do I create badges.
                        </h3>
                        <p>
                            There are 5 steps of badge creation
                            <ul>
                                <li>Name your badges</li>
                                <li>Specify the input sources as either upload CSV or Enter details</li>
                                <li>
                                    Select the paper size and the badge sizes
                                </li>
                                <li>Select the background Sources</li>
                                <li>Select the font customizations</li>
                            </ul>
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            Can I change text size?
                        </h3>
                        <p>
                            Sure ! You can do so in our badge editor. For info refer to our badge creation guide. </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            Can I change text colour?
                        </h3>
                        <p>
                            Sure ! You can do so in our badge editor. For info refer to our badge creation guide. </p>
                    </div>
                </div>
                <div class="three column row">
                    <div class="column">
                        <h3 class="ui header">
                            Can I add custom backgrounds?
                        </h3>
                        <p>
                            Sure ! You can do so in our badge editor. For info refer to our badge creation guide.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            How do I add data to my badges ?
                        </h3>
                        <p>
                            We accept data in the following formats
                            <ul>
                                <li>.csv file</li>
                                <li>Manual data entry</li>
                            </ul>
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            Can I add QR codes to my badges?
                        </h3>
                        <p>
                            We are working on this to make it happen, Thankyou for being patient.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui divider"></div>
            <br>
            <div class="ui stackable grid" id="contri">
                <h2>Contributing</h2>
                <div class="three column row">
                    <div class="column">
                        <h3 class="ui header">
                            Where can I get the code for badgeyay?
                        </h3>
                        <p>
                            Badgeyay is an opensource application, created and maintained by the FOSS community, you
                            can get the code base at our github
                            page.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            How do I contribute to badgeyay?
                        </h3>
                        <p>
                            You can contribute to our project by going to our github page and read the contribution
                            guidelines to continue.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            What if I spot a bug?
                        </h3>
                        <p>
                            You can report the bug at our issue tracker on github, our developers will try to fix it
                            ASAP.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui divider"></div>
            <br>
            <div class="ui stackable grid" id="about">
                <h2>About Fossasia</h2>
                <div class="three column row">
                    <div class="column">
                        <h3 class="ui header">
                            What is FOSSASIA?
                        </h3>
                        <p>
                            FOSSASIA is an organization developing software applications for social change using a
                            wide-range of technologies. It was
                            established 2009. Projects range from Free and Open Source software, to design, graphics
                            and
                            hardware.</p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            How do I contribute to FOSSASIA?
                        </h3>
                        <p>
                            You can contribute to FOSSASIA by going to our github page, choose a project of your choice
                            and start contributing.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            How to contact us?
                        </h3>
                        <p>
                            You can contact us through our gitter channel , the gitter channel of each project is
                            mentioned in the README.md file of
                            that project.
                        </p>
                    </div>
                </div>
                <div class="three column row">
                    <div class="column">
                        <h3 class="ui header">
                            What is FOSSASIA?
                        </h3>
                        <p>
                            Please make sure that you have entered your correct emailID and password, the login should
                            work perfectly.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            How do I add data to my badges ?
                        </h3>
                        <p>
                            You can reset your password by going to the password reset link in the login section.
                        </p>
                    </div>
                    <div class="column">
                        <h3 class="ui header">
                            Can I add QR codes to my badges?
                        </h3>
                        <p>
                            Go to the passwords tab in the settings, there you can easily change your password.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui divider"></div>
        </div>
        <div class="three wide column">
            <div class="ui vertical menu">
                <a class="item" href="#general">General</a>
                <a class="item" href="#account">Account</a>
                <a class="item" href="#badges">Badges</a>
                <a class="item" href="#contri">Contributing</a>
                <a class="item" href="#about">About Fossasia</a>
            </div>
        </div>
    </div>
    <div class="tablet mobile only row pushable">
        <div class="ui basic segment pusher">
            <div class="ui container">
                <div class="ui message">
                    <h1 class="ui huge header">
                        How can we help you?
                    </h1>

                </div>
                <div class="ui hidden section divider"></div>
                <div class="ui stackable grid" id="general">
                    <h2>General</h2>
                    <div class="three column row">
                        <div class="column">
                            <h3 class="ui header">
                                What is Badgeyay?
                            </h3>
                            <p>
                                We're a web based platform that lets you create badges for events, choose a template
                                for your badges and download according
                                to your choice.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                What's the cost for badges?
                            </h3>
                            <p>
                                The badge creation and downloading is absolutely free.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                Can I get badges through e-mail?
                            </h3>
                            <p>
                                Yes, once your badge is successfully generated it will be automatically emailed to you.
                            </p>
                        </div>

                    </div>
                    <div class="three column row">
                        <div class="column">
                            <h3 class="ui header">
                                How big are your badges?
                            </h3>
                            <p>
                                We currently offer two sizes of badges , 4" x 3" and 4.5" x 3" .
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                Can I use language other than english on badges ?
                            </h3>
                            <p>
                                Yes, you can use any language for data entry on your badges.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                How to fix a typo?
                            </h3>
                            <p>
                                You can go to my badges and then click on edit badges to edit that specific badge.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui divider"></div>
                <br>
                <div class="ui stackable grid" id="account">
                    <h2>Account</h2>
                    <div class="three column row">
                        <div class="column">
                            <h3 class="ui header">
                                I can't login to my account?
                            </h3>
                            <p>
                                Please make sure that you have entered your correct emailID and password, the login
                                should work perfectly.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                I forgot my password, What now?
                            </h3>
                            <p>
                                You can reset your password by going to the password reset link in the login section.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                I want to change my password?
                            </h3>
                            <p>
                                Go to the passwords tab in the settings, there you can easily change your password.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui divider"></div>
                <br>
                <div class="ui stackable grid" id="badges">
                    <h2>Badges</h2>
                    <div class="three column row">
                        <div class="column">
                            <h3 class="ui header">
                                How do I create badges.
                            </h3>
                            <p>
                                There are 5 steps of badge creation
                                <ul>
                                    <li>Name your badges</li>
                                    <li>Specify the input sources as either upload CSV or Enter details</li>
                                    <li>
                                        Select the paper size and the badge sizes
                                    </li>
                                    <li>Select the background Sources</li>
                                    <li>Select the font customizations</li>
                                </ul>
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                Can I change text size?
                            </h3>
                            <p>
                                Sure ! You can do so in our badge editor. For info refer to our badge creation guide.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                Can I change text colour?
                            </h3>
                            <p>
                                Sure ! You can do so in our badge editor. For info refer to our badge creation guide.
                            </p>
                        </div>
                    </div>
                    <div class="three column row">
                        <div class="column">
                            <h3 class="ui header">
                                Can I add custom backgrounds?
                            </h3>
                            <p>
                                Sure ! You can do so in our badge editor. For info refer to our badge creation guide.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                How do I add data to my badges ?
                            </h3>
                            <p>
                                We accept data in the following formats
                                <ul>
                                    <li>.csv file</li>
                                    <li>Manual data entry</li>
                                </ul>
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                Can I add QR codes to my badges?
                            </h3>
                            <p>
                                We are working on this to make it happen, Thankyou for being patient.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui divider"></div>
                <br>
                <div class="ui stackable grid" id="contri">
                    <h2>Contributing</h2>
                    <div class="three column row">
                        <div class="column">
                            <h3 class="ui header">
                                Where can I get the code for badgeyay?
                            </h3>
                            <p>
                                Badgeyay is an opensource application, created and maintained by the FOSS community,
                                you can get the code base at our github
                                page.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                How do I contribute to badgeyay?
                            </h3>
                            <p>
                                You can contribute to our project by going to our github page and read the contribution
                                guidelines to continue.
                            </p>
                        </div>
                        <div class="column">
                            <h3 class="ui header">
                                What if I spot a bug?
                            </h3>
                            <p>
                                You can report the bug at our issue tracker on github, our developers will try to fix
                                it ASAP.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui right sidebar vertical menu">
            <a class="item" href="#general">General</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
            <a class="item">Link</a>
        </div>
    </div>
</div>