<div class="field">
    <div class="ui grid">
        <div class="seven wide mobile four wide tablet three wide computer column">
            {{col-pick-input value=defColor}}
        </div>
        <div class="column" style="background-color: #{{backColor}}; height: 35px; width: 35px; margin-top: 15px;">
        </div>
    </div>
</div>
