<div class="field">
    {{forms/image-upload mutateCustomImg=(action 'mutateCustomImg') imageData=imageData needsCropper=true id=imageId icon='camera' hint='Select User Image' maxSizeInKb=1000 height=280 width=248}}
</div>