<form class="ui form" {{action 'updateBadgeName' badge on="submit"}}>
    <div class="ui field">
        {{input type="text" id="Name" name=Name value=badge.badge_name }}
    </div>
    <button type=submit class="ui button" tabindex="0"><i class="pencil alternate icon"></i></button>
</form>
