<table class="ui celled table">
    <thead>
        <tr>
            <th rowspan="2">Badge Creator ID</th>
            <th class="center aligned" colspan="2">Badge Info</th>
            <th class="center aligned" rowspan="2">Actions</th>
        </tr>
        <tr>
            <th>Badge ID</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        {{#each badges as |badge|}}
            <tr>
                <td>{{badge.user_id}}</td>
                <td>{{badge.id}}</td>
                <td>{{badge.created_at}}</td>
                <td class="center aligned">
                    <div class="ui horizontal compact basic buttons">
                        {{#ui-popup content='Edit' class='ui icon button'}}
                            <i class="edit icon"></i>
                        {{/ui-popup}}
                        {{#ui-popup content='Delete' class='ui icon button'}}
                            <i class="trash alternate outline icon"></i>
                        {{/ui-popup}}
                        {{#ui-popup content='Download Badge' class='ui icon button'}}
                            <a href={{badge.download_link}}>
                                <i class="ui download icon"></i>
                            </a>
                        {{/ui-popup}}
                    </div>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
