<form class="ui form" {{action 'updateBadgeName' on="change"}}>
    <div class="ui icon input">
    <i class="pencil alternate icon"></i>
        {{input type="text" value=badge.badge_name }}
    </div>
</form>
