<footer>
    <div class="ui bottom inverted menu">
        <div class="left menu">
            <a class="item" href="#" target="_blank">Sitemap</a>
        </div>
        <div class="right menu">
            <strong class="item">Follow us on</strong>
            {{#each socialMedia as |media|}}
                <a class="item" href={{media.link}} target="_blank">{{media.id}}</a>
            {{/each}}
        </div>
    </div>
</footer>
