<footer>
    <div class="ui bottom inverted menu">
        <div class="left menu">
            {{#link-to 'sitemap' class='item'}}
                {{init-cap 'sitemap'}}
            {{/link-to}}
        </div>
        <div class="right menu">
            <strong class="item">Follow us on</strong>
            {{#each socialMedia as |media|}}
                <a class="item" href={{media.link}} target="_blank">
                    <i class="fa fa-{{media.id}}" aria-hidden="true">
                    {{first-cap media.id }}
                    </i>
                </a>
            {{/each}}
        </div>
    </div>
</footer>
