<footer>
    <div class="ui bottom inverted menu">
        <div class="left menu">
            <a class="item" href="#" target="_blank">Sitemap</a>
        </div>
        <div class="right menu">
            <strong class="item">Follow us on</strong>
            <a class="item" href="https://twitter.com/badgeyay" target="_blank">Twitter</a>
            <a class="item" href="https://github.com/fossasia/badgeyay" target="_blank">Github</a>
        </div>
    </div>
</footer>
