<div class="ui stackable four column centered grid reset">
    <div class="column">
        <form class="ui fluid form" {{ action 'sendResetMail' on="submit" }}>
            <div class="required field form-div">
                <div class="form-title">Forgot Password</div>
                <div class="ui hidden divider"></div>
                {{input name="email" value=email placeholder="Email" type="email"}}
            </div>
            <div class="ui center aligned segment basic">
                <button type="submit" class="ui centered basic button large orange">Send Email</button>                
            </div>
        </form>
    </div>
</div>