<div class="ui menu">
  {{#link-to 'index' class="header item"}}
    <h2>Badgeyay</h2>
  {{/link-to}}
  <div class="right menu">
    <div class="item">
      {{#link-to 'login'}}
        <div class="ui orange button" style="text-transform: uppercase; font-weight: 400">Login</div>
      {{/link-to}}
    </div>
  </div>
</div>
