{{#if user.ftl}}
<div class="overlay-{{visibility}}">
    <div class="ui segment center-place">
        <div class="ui stackable centered grid">
            <div class="row">
                <img class="ui image-overlay" src="{{user.photoURL}}">
            </div>
            <div class="row">
                <h2 class="ui center aligned header welcome-text">
                    Welcome {{user.username}}
                    <div class="sub header">
                        Let's create some awesome badges
                    </div>
                </h2>
            </div>
            <div class="row">
                <h4 class="ui center aligned header welcome-text">
                    Please follow steps mentioned below to create badges
                </h4>
            </div>
            <div class="row">
                <ul class="ui list" style="text-align: left;">
                    <li>
                        Select from one of the Input Source
                    </li>
                    <li>
                        Select Badge Size
                    </li>
                    <li>
                        Select from one of the Background source
                    </li>
                    <li>
                        Choose Font customization
                    </li>
                    <li>
                        Click on Create badges
                    </li>
                </ul>
            </div>
            <div class="row">
                <button class="ui basic orange button" {{action 'dismissOverlay'}}>Dismiss</button>
            </div>
        </div>
    </div>
</div>
{{/if}}
