<div class="ui hidden divider"></div>
<div class="reset-password">
    <div class="ui segment">
        <div class="ui centered grid">
            <div class="row">
                <div class="column">
                    <form class="ui fluid form">
                        <div class="required field">
                            <label>Enter password</label>
                            {{input name="password" value=pwd placeholder="New Password" type="password"}}
                        </div>
                        <div class="required field">
                            <label>Confirm password</label>
                            {{input name="password_repeat" value=confirmPwd placeholder="Confirm Password" type="password"}}
                        </div>
                        <button class="ui fluid button blue" type="submit" onclick={{action 'sendPwd'}}>Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
