<div class="ui stackable four column centered grid reset-pass">
    <div class="column">
        <form class="ui fluid form">
            <div class="required field form-div">
                <div class="form-title">Reset Password</div>
                <div class="ui hidden divider"></div>
                <div class="ui secondary form-title">Please enter your New Password</div>
                <div class="ui hidden divider"></div>
                {{input name="password" value=pwd placeholder="New Password" type="password"}}
            </div>
            <div class="required field div">
                <div class="ui hidden divider"></div>
                {{input name="password_repeat" value=confirmPwd placeholder="Confirm Password" type="password"}}
            </div>
            <div class="ui center aligned segment basic">
                <button class="ui basic large orange button" type="submit" onclick={{action 'sendPwd'}}>Reset</button>
            </div>
        </form>
    </div>
</div>
