<div class="ui content">

  <div class="wrapper">
    <p class="heading-alpha">Pricing</p>
    <div class="inline-columns">
      <div class="inline-column pdf icon-pdf">
        <div class="pdf-div">
          <img class="pdf-img" src="/images/pdf-icon.png">
        </div>
        <span class="heading-bravo">You print <span>the generated PDF</span></span>
        <div class="cb-price">
          <span class="cb-price-tag">$</span>
          <span class="cb-price-number">0.00</span>
          <span>for </span><span class="cb-price-label">200</span><span> badges</span>
        </div>
        <ul class="bullets">
          <li>Customize the font for your badges</li>
          <li>Upload images for your badges</li>
          <li>Available in different paper sizes A3, A4 etc</li>
        </ul>
      </div>
      <div class="inline-column shipped icon-box">
        <div class="grp-div">
          <img class="grp-img" src="/images/group-icon.png">
        </div>
        <span class="heading-bravo">Ran out of 200 badges?</span>
          <div class="pricing-printed-4x3">
            <div class="cb-price">
              <span class="coming-soon"><span class="cap-coming-soon">C</span>oming <span class="cap-coming-soon">S</span>oon</span>
            </div>
          </div>
          <ul class="bullets">
            <li>Get access to premium features and services</li>
            <li>More badges for your events and meets</li>
            <li>Customize your badges the way you like</li>
          </ul>
      </div>
    </div>

    <div>
    </div>
  </div>

</div>
