<div class="ui fluid card usercard">
    <div class="ui grid">
        <div class="column align-center">
            <img class="ui avatar image" src={{user.photoURL}}>
        </div>
        <div class="fourteen wide column">
            <p>Username : <b>{{user.username}}</b></p>
            <p>Email: {{user.email}}</p>
        </div>
    </div>
</div>