<div class="ui content">
  <h1 class="weight-300 lead">The simplest way to create Badges.</h1>
  <a class="ui orange button" style="text-transform: uppercase; font-weight: 400">Create Badges</a>
</div>
