<div class="permissions">
<table class="ui celled structured table">
	<thead>
		<tr>
			<th>Permissions</th>
			<th>Super Admin</th>
			<th>Admin</th>
			<th>Sales</th>
			<th>Verified User</th>
			<th>Unverified User</th>
			<th>Anonymous User</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Access to the homepage</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>Access to the homepage but can change details also like Email</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Create and edit own badges and other user badges</td>
            <td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Create and edit own badges </td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>Can view and edit settings</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>Can view and edit settings of other users</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can view & edit password of own as well as other users on system</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can view & edit password of own </td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>Can change name of own and other users</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Has access to the details of all users except the password</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can see all orders of all ussers and download PDF of all orders</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can set pricing for the badges and view, edit, delete payment info of users</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can access the dashboard and view mail stats, badges generated and user count</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can access all data and export it</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can View all users, can edit users and delete them (deletion will move users to "deleted users"</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can see all the badges made by the all the user.</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can assign all roles</td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>		
		</tr>
		<tr>
			<td>Can check the details of user who have admin permissions like admin role </td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Usage of the resouces for particular month, Users created, badge generated and users left. Amount of
                revenue generated in the month. </td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>View all message/notification settings</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Can change and view the system deployment credentials</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Account cannot be deleted</td>
			<td><i class="large green checkmark icon"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
