<div class="field">
    <label>Select font</label>
    {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut font))}}
        <div class="default text">Select font from list</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-item="sans" style="font-family:'sans'">sans</div>
            <div class="item" data-item="sans-serif" style="font-family:'sans-serif'">sans-serif</div>
            <div class="item" data-item="monospace" style="font-family:'monospace'">Mono space</div>
            <div class="item" data-item="Courier 10 Pitch" style="font-family:'Courier 10 Pitch'">Courier 10 Pitch</div>
        </div>
    {{/ui-dropdown}}
</div>
