<div class="field">
    <label>Select font</label>
    {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut font))}}
        <div class="default text">Select font from list</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-item="Lato" style="font-family:'Lato'">Lato</div>
            <div class="item" data-item="sans" style="font-family:'sans'">Sans</div>
            <div class="item" data-item="Courier-Bold" style="font-family:'Courier-Bold'">Courier</div>
            <div class="item" data-item="Helvetica" style="font-family:'Helvetica'">Helvetica</div>
            <div class="item" data-item="Times-Bold" style="font-family:'Times-Bold'">Times-Bold</div>
            <div class="item" data-item="monospace" style="font-family:'monospace'">Mono Space</div>
            <div class="item" data-item="Times-Roman" style="font-family:'Times-Roman'">Times-Roman</div>
            <div class="item" data-item="Courier 10 Pitch" style="font-family:'Courier 10 Pitch'">Courier 10 Pitch</div>
        </div>
    {{/ui-dropdown}}
</div>
