{% extends "layout.html" %}
{% block body %}
<div class="container board">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>BadgeYAY Backend API Guide</h1>
        </div>
        <div class="col-sm-12 text-center">
            <p>API queries and related doc for BadgeYAY backend</p>
        </div>
        <div class="col-sm-12 text-left options" id="csv">
            <h2>1. /api/v1.0/generate_badges</h2>
            <pre class="alert-info">Method: POST</pre>
            <p>
                Parameters:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- custfont: Font to use. if it is null or not present the default font will be used.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- file: .csv which contains user data.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- csv: CSV data as plain text seperated by a comma (,).<br>
                (Either file or csv must be present in the query if both are present, file will be processed).<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- img-default: The dafault image to use. (Required)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- bg_color: Hex code of background colour of the badge. Will only be parsed if the value of img-default is "user-defined.png".<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- image: The custom background image (in .png format) of the badge which will be uploaded.<br>
                (Either img-default or csv must be present in the query if both are present, image will be processed)<br>
            </p>
            <p>Sample response:</p>
            <pre>[{
"type" : "success"
"message" : "Pdf generation completed successfully"
"download_link" : "https://badgeyay-dev.herokuapp.com/static/badges/team-png-csv-badges.pdf"
}]
		  </pre>
        </div>
    </div>
</div><br>
{% endblock %}
