.create-badge {
  position: relative;
  top: 30px;
}

.overlay-loader {
  background: url("/images/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.guide {
  left: 425px;
  position: relative;
}
