.create-badge {
  position: relative;
  top: -60px;
}

.overlay-loader {
  background: url("/images/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.guide {
  left: 10px;
  position: relative;
}

.ui.image {
  position: unset;
}
