.pusher {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
  padding-bottom: 40px;
}

.footer {
  padding-bottom: 60px;
  padding-top: 50px;
}

.text-zoom {
  font-size: 1.5em;
}
