$colorlinks: #33587d;


.reset {
  position: relative;
  text-align: center;
  top: 100px;
}

.form-div {
  text-align: center;

  .form-title {
    color: $colorlinks;
    font-size: 20px;
    font-weight: 300;
  }
}
