.forgot-password {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  max-width: 480px;
  padding: 10px;
}

.reset-password {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  max-width: 480px;
  padding: 10px;
}
