$color_links: #33587d;
$color_white: #ffffff;

.login {
  position: relative;
  text-align: center;
  top: 40px;
}


.oauth-buttons {
  .buttons {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;

    .capital {
      text-transform: uppercase;
    }
    .large-oauth {
      padding-bottom: 15px;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 15px;

      .log-text {
        text-align: center;
      }

      .o-icon {
        font-size: 20px;
        text-align: left;
      }
    }
  }
}

.oauth-methods {
  margin-top: 55px;
}

.form {
  .ending-border {
    border-bottom: 0.01rem dotted;
  }

  .no-border {
    background-color: $color_white;
    box-shadow: none;
    border: 0;
  }
}

.form-div {
  text-align: center;

  .form-title {
    color: $color_links;
    font-size: 20px;
    font-weight: 300;
  }

  .form-subtitle {
    color: $color_links;
    font-size: 15px;
    font-weight: 300;
  }
}

.div-links {
  margin-bottom: 5px;
  margin-top: 5px;

  .links {
    color: $color_links;
    margin-top: 50px;
  }
}

