.my-profile {
  position: relative;
  top: 10px;
}

.image {
  left: 2%;
}

.profile-image:hover {
  .profile-change {
    opacity: 1;
  }

  img {
    opacity: 0.3;
  }
}


.profile-change {
  left: 60px;
  opacity: 0;
  position: absolute;
  top: 80px;
  transition: 0.5s ease;
}

.account {
  left: 250px;
  position: relative;
}

.password {
  left: 243px;
  position: relative;
}
