.create , .header.item {
  background-color: #ffffff !important;;
}

@media only screen and (max-width: 600px) {
  .create{
    font-size: 12px;
  }

  .header h2{
    font-size: 16px;
  }

  .mobile-hide{
    display: none;
  }
}

.orange.text {
  color: #F2711C !important;
  font-weight: 300 !important;
}

.upper {
  font-weight: 300 !important;
  text-transform: uppercase;
}

.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
  font-size: 15px !important;
  font-weight: 300 !important;
  padding: 12px 20px !important;
}

.pull-right {
  position: absolute;
  right: 5px;
}

.sticky {
  position: sticky;
  top: 10px;
}
