.orange.text {
  color: #F2711C !important;
  font-weight: 300 !important;
}

.upper {
  font-weight: 300 !important;
  text-transform: uppercase;
}

.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
  font-size: 15px !important;
  font-weight: 300 !important;
  padding: 12px 20px !important;
}
