.ui.basic.segments {
  background: none transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.max-width {
  width: 100%;
}

.my-badge-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
