.bgImg {
  border-radius: 5px;
  height: 600px;
}

.preview.content {
  margin-left: 50px;
  padding-top: 200px;
}

// scss-lint:disable all
.preview {
  top : -1% !important;
}
// scss-lint:enable all
