.bgImg {
  border-radius: 5px;
  height: 500px !important;
}

.preview.content {
  margin-left: 50px;
  padding-top: 200px;
}

// scss-lint:disable all
.preview {
  top: -1% !important;
  z-index: 1;
}

// scss-lint:enable all
