.image {
  left: 2%;
  top: 60px;
}


.profile-image:hover {
  .profile-change {
    opacity: 1;
  }

  img {
    opacity: 0.3;
  }
}


.profile-change {
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  padding-top: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  transition: 0.5s ease;
  width: 100%;
}

.stats {
  left: 105%;
  position: relative;
  top: 105px;
}
