$colorlinks: #33587d;
$colorwhite: #ffffff;


.signup {
  position: relative;
  text-align: center;
  top: 40px;
}

.form {
  .ending-border {
    border-bottom: 0.01rem dotted;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .no-border {
    background-color: $colorwhite;
    border: 0;
    box-shadow: none;
  }
}

.form-div {
  text-align: center;

  .form-title {
    color: $colorlinks;
    font-size: 20px;
    font-weight: 300;
  }

  .form-subtitle {
    color: $colorlinks;
    font-size: 15px;
    font-weight: 300;
  }
}

.div-links {
  margin-bottom: 5px;
  margin-top: 5px;

  .links {
    color: $colorlinks;
    margin-top: 50px;
  }
}

meter {
  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }
