$color1: rgba(0, 0, 0, 0.5);
$color2: rgba(0, 0, 0, 0.6);
$color3: #ffffff;
$color4: #ffa500;


.welcome-header {
  background: linear-gradient($color1, $color1), url("/images/landing.jpg");
  background-position: center;
  color: $color3;
  height: 500px;
  overflow: hidden;
  position: relative;

  .content {
    left: 20%;
    position: absolute;
    right: 20%;
    text-align: center;
    top: 25vh;
    vertical-align: center;

    .lead {
      font-size: 4em;
      font-weight: 300 !important;
      text-shadow: 0 1px 2px $color2;
    }

    .create-badges {
      font-weight: 400 !important;
      text-transform: uppercase;
    }

    .button {
      font-size: 1.5em;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1800px) {
  .welcome-header {
    .content {
      .lead {
        font-size: 3.5em;
      }

      .button {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .welcome-header {
    .content {
      .lead {
        font-size: 3em;
      }

      .button {
        font-size: 1.1em;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .welcome-header {
    .content {
      .lead {
        font-size: 2.2em;
      }

      .button {
        font-size: 1em;
      }
    }
  }
}

.overlay-visible {
  background-color: $color1;
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.overlay-none {
  display: none;
}

.ui.segment.center-place {
  bottom: 25%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  top: 25%;
}

.welcome-text {
  font-size: 1.1em;
  font-weight: 600;
  justify-content: center;
  text-align: left;
}

.visible-overlay {
  display: block;
}
