$color1: rgba(0, 0, 0, 0.5);
$color2: rgba(0, 0, 0, 0.6);
$color3: #ffffff;
$color4: #ffa500;


.welcome-header {
  background: linear-gradient($color1, $color1), url("/images/landing.jpg");
  background-position: center;
  color: $color3;
  height: 60vh;
  overflow: hidden;
  position: relative;

  .content {
    left: 20%;
    position: absolute;
    right: 20%;
    text-align: center;
    top: 25vh;

    .lead {
      font-size: 65px;
      text-shadow: 0 1px 2px $color2;
    }

    .create-badges {
      font-weight: 800;
      text-transform: uppercase;
    }

    .button {
      font-size: 18px;
      margin-top: 20px;
    }
  }
}

.overlay-visible {
  background-color: $color1;
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.overlay-none {
  display: none;
}

.ui.segment.center-place {
  bottom: 25%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  top: 25%;
}

.welcome-text {
  font-size: 1.1em;
  font-weight: 600;
  justify-content: center;
  text-align: left;
}

.visible-overlay {
  display: block;
}
