<div class="field">
    <label>Enter details</label>
    {{textarea name="data" rows="3" value=formData}}
    <label>Enter details of format <strong>Dominic, Del Piero, Social Media Manager, FOSSASIA, @dompiero07</strong></label>
</div>

