<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">BadgeYAY</a>      
    </div>    
    <ul class="nav navbar-nav navbar-right">
      <li><i class="glyphicon glyphicon-th"></i></li>
      <div class="custom-menu-content hidden">
        <div class="custom-menu">
          <div class="hide-arrow"></div>
          <div class="custom-menu-cont">
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://github.com/fossasia/badgeyay" target="_blank">
                <img src="static/images/code.png">
                <p class="custom-title">Code</p>
              </a>
            </div>
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://github.com/fossasia/badgeyay/issues" target="_blank">
                <img src="static/images/bug.png">
                <p class="custom-title">Bug Report</p>
              </a>
            </div>
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://blog.fossasia.org" target="_blank">
                <img src="static/images/blog.png">
                <p class="custom-title">Blogs</p>
              </a>
            </div>
            <hr>
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://eventyay.com" target="_blank">
                <img src="static/images/eventyay.png">
                <p class="custom-title">Eventyay</p>
              </a>
            </div>
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://fossasia.org" target="_blank">
                <img src="static/images/fossasia.png">
                <p class="custom-title">FOSSASIA</p>
              </a>
            </div>
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://chat.susi.ai" target="_blank">
                <img src="static/images/susi.jpg">
                <p class="custom-title">Susi</p>
              </a>
            </div>
            <div class="custom-menu-item">
              <a class="custom-icon" href="http://loklak.net" target="_blank">
                <img src="static/images/loklak.png">
                <p class="custom-title">loklak</p>
              </a>
            </div>
          </div>
        </div>
        <div class="custom-arrow"></div>
      </div>
    </ul>
  </div>
</nav>