{% extends "layout.html" %}
{% block body %}
<div class="container board">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			{% with m = get_flashed_messages(with_categories=true) %}
				{% if m %}
					{% for cat,msg in m %}
						<div class="flash-{{cat}}">{{msg}}</div>
						{% if cat == 'success' %}
							<div class="text-center">
							    <a href="static/uploads/all-badges.pdf" class="btn btn-lg btn-success" download="download">Download as PDF</a>
							</div>
					    {% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
			    <div class="form-group">
					<label for="inputFile">Upload a CSV file to generate badges</label>
					<input type="file" id="inputFile" name="file">
					<button type="submit" class="btn btn-danger pull-right">Upload</button>
				</div>
		    </form>
		</div>
    </div>	
</div>
{% endblock %}